{{define "title"}}WoN Simulator{{end}}
{{define "index"}}
    <h2>Welcome to the World of Nuclear Simulator</h2>
    <p>This is the main content for the home page.</p>
    <p>You are amazing! Let us help you become even more amazing!</p>
{{end}}